<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<title>Caller-ID</title>
	<meta name="description" content="#">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap core CSS -->
	<link href="../../dist/css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
	<!-- Swipe core CSS -->
	<link href="../../dist/css/swipe.min.css" type="text/css" rel="stylesheet">
	<!-- Favicon -->
	<link href="../../dist/img/favicon.png" type="image/png" rel="icon">
<link href="../../dist/css/dark.min.css" id="dark" type="text/css" rel="stylesheet"></head>
<body>
	<main>
		<div class="layout">
			<!-- Start of Navigation -->
			<div class="navigation">
				<div class="container">
					<div class="inside">
						<div class="nav nav-tab menu">
							<button class="btn"><img class="avatar-xl" src="../../dist/img/avatars/avatar-male-1.jpg" alt="avatar"></button>
							<a href="#members" data-toggle="tab" class="show"><i class="material-icons active">account_circle</i></a>
							<a href="#discussions" data-toggle="tab" class="show"><i class="material-icons">chat_bubble_outline</i></a>
							<a href="#notifications" data-toggle="tab" class="f-grow1 show active"><i class="material-icons ">notifications_none</i></a>
							<button class="btn mode"><i class="material-icons">brightness_2</i></button>
							<a href="#settings" data-toggle="tab" class="show"><i class="material-icons">settings</i></a>
							<button class="btn power" onclick="visitPage();"><i class="material-icons">power_settings_new</i></button>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Navigation -->
			<!-- Start of Sidebar -->
			<div class="sidebar" id="sidebar">
				<div class="container">
					<div class="col-md-12">
						<div class="tab-content">
							<!-- Start of Contacts -->
							<div class="tab-pane fade active show" id="members">
								<div class="search">
									<form class="form-inline position-relative">
										<input type="search" class="form-control" id="people" placeholder="Search for people...">
										<button type="button" class="btn btn-link loop"><i class="material-icons">search</i></button>
									</form>
									<button class="btn create" data-toggle="modal" data-target="#exampleModalCenter"><i class="material-icons">person_add</i></button>
									
								</div>
								<div class="list-group sort">
									<button class="btn filterMembersBtn show active" data-toggle="list" data-filter="all">All</button>
									<button class="btn filterMembersBtn show" data-toggle="list" data-filter="online">My Contacts</button>
									<button class="btn filterMembersBtn show" data-toggle="list" data-filter="offline" style="color: #da3e3e;">Blocked</button>
								</div>						
								<div class="contacts">
									<h1>Contacts</h1>
									<div class="list-group" id="contacts" role="tablist">
										<a href="#" class="filterMembers all online contact" data-toggle="list">
											<img class="avatar-md" src="../../dist/img/avatars/avatar-female-1.jpg" data-toggle="tooltip" data-placement="top" title="" alt="avatar" data-original-title="Janette">
											<div class="status">
												<i class="material-icons online">fiber_manual_record</i>
											</div>
											<div class="data">
												<h5>Janette Dalton</h5>
												<p>Sofia, Bulgaria</p>
											</div>
											<div class="dropdown">
												<button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons md-30">more_vert</i></button>
												<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-194px, 30px, 0px);">
													<button class="dropdown-item connect" name="1"><i class="material-icons">phone_in_talk</i>Voice Call</button>
													<button class="dropdown-item connect" name="1"><i class="material-icons">chat</i>Chat</button>
													<hr>
													<button class="dropdown-item"><i class="material-icons">edit</i>Edit</button>
													<button class="dropdown-item"><i class="material-icons" style="color: #da3e3e;">block</i>Block Contact</button>
													<button class="dropdown-item" data-toggle="modal" data-target="#deleteconfirm"><i class="material-icons" style="color: #da3e3e;">delete</i>Delete Contact</button>
												</div>
											</div>
										</a>
										<a href="#" class="filterMembers all offline contact" data-toggle="list">
											<img class="avatar-md" src="../../dist/img/avatars/avatar-male-4.jpg" data-toggle="tooltip" data-placement="top" title="" alt="avatar" data-original-title="Mildred">
											<div class="status">
												<i class="material-icons offline" style="color: #da3e3e;">fiber_manual_record</i>
											</div>
											<div class="data">
												<h5>Mildred Bennett</h5>
												<p>London, United Kingdom</p>
											</div>
											<div class="dropdown">
												<button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons md-30">more_vert</i></button>
												<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-194px, 30px, 0px);">
													<button class="dropdown-item"><i class="material-icons" style="color: #da3e3e;">unblock</i>Unblock</button>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
							<!-- End of Contacts -->
							<!-- Start of Discussions -->
							<div id="discussions" class="tab-pane fade">
								<div class="search">
									<form class="form-inline position-relative">
										<input type="search" class="form-control" id="conversations" placeholder="Search for conversations...">
										<button type="button" class="btn btn-link loop"><i class="material-icons">search</i></button>
									</form>
								</div>
														
								<div class="discussions">
									<h1>Messages</h1>
									<div class="list-group" id="chats" role="tablist">
										<a href="#list-chat" class="filterDiscussions all single" id="list-chat-list" data-toggle="list" role="tab" >
											<img class="avatar-md" src="../../dist/img/avatars/avatar-female-1.jpg" data-toggle="tooltip" data-placement="top" title="" alt="avatar" data-original-title="Janette">
											<div class="status">
												<i class="material-icons online">fiber_manual_record</i>
											</div>
											<div class="new bg-yellow">
												<span>+</span>
											</div>
											<div class="data">
												<h5>Janette Dalton</h5>
												<span>Mon</span>
												<p>A new feature has been updated to your account. Check it out...</p>
											</div>
										</a>									
										<a href="#list-empty" class="filterDiscussions all single" id="list-empty-list" data-toggle="list" role="tab" >
											<img class="avatar-md" src="../../dist/img/avatars/avatar-male-1.jpg" data-toggle="tooltip" data-placement="top" title="" alt="avatar" data-original-title="Michael">
											<div class="status">
												<i class="material-icons offline">fiber_manual_record</i>
											</div>
											<div class="new bg-pink">
												<span>+</span>
											</div>
											<div class="data">
												<h5>Michael Knudsen</h5>
												<span>Sun</span>
												<p>How can i improve my chances of getting a deposit?</p>
											</div>
										</a>									



									</div>
								</div>
							</div>
							<!-- End of Discussions -->
							<!-- Start of Notifications -->
							<div id="notifications" class="tab-pane fade">
								<div class="search">
									<form class="form-inline position-relative">
										<input type="search" class="form-control" id="notice" placeholder="Filter notifications...">
										<button type="button" class="btn btn-link loop"><i class="material-icons filter-list">filter_list</i></button>
									</form>
								</div>
														
								<div class="notifications">
									<h1>Notifications</h1>
									<div class="list-group" id="alerts" role="tablist">
										<a href="#" class="filterNotifications all latest notification" data-toggle="list">
											<img class="avatar-md" src="../../dist/img/avatars/avatar-female-1.jpg" data-toggle="tooltip" data-placement="top" title="" alt="avatar" data-original-title="Janette">
											<div class="status">
												<i class="material-icons online">fiber_manual_record</i>
											</div>
											<div class="data">
												<p>Janette has accepted your friend request on Swipe.</p>
												<span>Oct 17, 2018</span>
											</div>
										</a>
										<a href="#" class="filterNotifications all latest notification" data-toggle="list" >
											<img class="avatar-md" src="../../dist/img/avatars/avatar-male-1.jpg" data-toggle="tooltip" data-placement="top" title="" alt="avatar" data-original-title="Michael">
											<div class="status">
												<i class="material-icons online">fiber_manual_record</i>
											</div>
											<div class="data">
												<p>Michael, you have a new friend suggestion today.</p>
												<span>Jun 21, 2018</span>
											</div>
										</a>
										
										
										
										
										
										
										
									</div>
								</div>
							</div>
							<!-- End of Notifications -->
							<!-- Start of Settings -->
							<div class="tab-pane fade" id="settings">			
								<div class="settings">
									<div class="profile">
										<img class="avatar-xl" src="../../dist/img/avatars/avatar-male-1.jpg" alt="avatar">
										<h1><a href="#">Michael Knudsen</a></h1>
										<span>Helena, Montana</span>
										<div class="stats">
											<div class="item">
												<h2>122</h2>
												<h3>Fellas</h3>
											</div>
											<div class="item">
												<h2>305</h2>
												<h3>Chats</h3>
											</div>
											<div class="item">
												<h2>1538</h2>
												<h3>Posts</h3>
											</div>
										</div>
									</div>
									<div class="categories" id="accordionSettings">
										<h1>Settings</h1>
										<!-- Start of My Account -->
										<div class="category">
											<a href="#" class="title collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
												<i class="material-icons md-30 online">person_outline</i>
												<div class="data">
													<h5>My Account</h5>
													<p>Update your profile details</p>
												</div>
												<i class="material-icons">keyboard_arrow_right</i>
											</a>
											<div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionSettings" styl="">
												<div class="content">
													<div class="upload">
														<div class="data">
															<img class="avatar-xl" src="../../dist/img/avatars/avatar-male-1.jpg" alt="image">
															<label>
																<input type="file">
																<span class="btn button">Upload avatar</span>
															</label>
														</div>
														<p>For best results, use an image at least 256px by 256px in either .jpg or .png format!</p>
													</div>
													<form>
														<div class="parent">
															<div class="field">
																<label for="firstName">First name <span>*</span></label>
																<input type="text" class="form-control" id="firstName" placeholder="First name" value="Michael" required="">
															</div>
															<div class="field">
																<label for="lastName">Last name <span>*</span></label>
																<input type="text" class="form-control" id="lastName" placeholder="Last name" value="Knudsen" required="">
															</div>
														</div>
														<div class="field">
															<label for="email">Email <span>*</span></label>
															<input type="email" class="form-control" id="email" placeholder="Enter your email address" value="michael@gmail.com" required="">
														</div>
														<div class="field">
															<label for="password">Password</label>
															<input type="password" class="form-control" id="password" placeholder="Enter a new password" value="password" required="">
														</div>
														<div class="field">
															<label for="location">Location</label>
															<input type="text" class="form-control" id="location" placeholder="Enter your location" value="Helena, Montana" required="">
														</div>
														<button class="btn btn-link w-100">Delete Account</button>
														<button type="submit" class="btn button w-100">Apply</button>
													</form>
												</div>
											</div>
										</div>
										<!-- End of My Account -->
										<!-- Start of Notifications Settings -->
										<div class="category">
											<a href="#" class="title collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												<i class="material-icons md-30 online">notifications_none</i>
												<div class="data">
													<h5>Notifications</h5>
													<p>Turn notifications on or off</p>
												</div>
												<i class="material-icons">keyboard_arrow_right</i>
											</a>
											<div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionSettings" stye="">
												<div class="content no-layer">
													<div class="set">
														<div class="details">
															<h5>Desktop Notifications</h5>
															<p>You can set up Swipe to receive notifications when you have new messages.</p>
														</div>
														<label class="switch">
															<input type="checkbox" checked="">
															<span class="slider round"></span>
														</label>
													</div>
													<div class="set">
														<div class="details">
															<h5>Unread Message Badge</h5>
															<p>If enabled shows a red badge on the Swipe app icon when you have unread messages.</p>
														</div>
														<label class="switch">
															<input type="checkbox" checked="">
															<span class="slider round"></span>
														</label>
													</div>
													<div class="set">
														<div class="details">
															<h5>Taskbar Flashing</h5>
															<p>Flashes the Swipe app on mobile in your taskbar when you have new notifications.</p>
														</div>
														<label class="switch">
															<input type="checkbox">
															<span class="slider round"></span>
														</label>
													</div>
													<div class="set">
														<div class="details">
															<h5>Notification Sound</h5>
															<p>Set the app to alert you via notification sound when you have unread messages.</p>
														</div>
														<label class="switch">
															<input type="checkbox" checked="">
															<span class="slider round"></span>
														</label>
													</div>
													<div class="set">
														<div class="details">
															<h5>Vibrate</h5>
															<p>Vibrate when receiving new messages (Ensure system vibration is also enabled).</p>
														</div>
														<label class="switch">
															<input type="checkbox">
															<span class="slider round"></span>
														</label>
													</div>
													<div class="set">
														<div class="details">
															<h5>Turn On Lights</h5>
															<p>When someone send you a text message you will receive alert via notification light.</p>
														</div>
														<label class="switch">
															<input type="checkbox">
															<span class="slider round"></span>
														</label>
													</div>
												</div>
											</div>
										</div>
										<!-- End of Notifications Settings -->

										<!-- Start of Appearance Settings -->
										<div class="category">
											<a href="#" class="title collapsed" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
												<i class="material-icons md-30 online">colorize</i>
												<div class="data">
													<h5>Appearance</h5>
													<p>Customize the look of Swipe</p>
												</div>
												<i class="material-icons">keyboard_arrow_right</i>
											</a>
											<div class="collapse" id="collapseFive" aria-labelledby="headingFive" data-parent="#accordionSettings">
												<div class="content no-layer">
													<div class="set">
														<div class="details">
															<h5>Turn Off Lights</h5>
															<p>The dark mode is applied to core areas of the app that are normally displayed as light.</p>
														</div>
														<label class="switch">
															<input type="checkbox">
															<span class="slider round mode"></span>
														</label>
													</div>
												</div>
											</div>
										</div>
										<!-- End of Appearance Settings -->
										<!-- Start of Privacy & Safety -->
										<div class="category">
											<a href="#" class="title collapsed" id="headingSeven" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
												<i class="material-icons md-30 online">lock_outline</i>
												<div class="data">
													<h5>Privacy &amp; Safety</h5>
													<p>Control your privacy settings</p>
												</div>
												<i class="material-icons">keyboard_arrow_right</i>
											</a>
											<div class="collapse" id="collapseSeven" aria-labelledby="headingSeven" data-parent="#accordionSettings">
												<div class="content no-layer">
													<div class="set">
														<div class="details">
															<h5>Who viewed my profile</h5>
															<p>Automatically notify me if someone viewed my profile.</p>
														</div>
														<label class="switch">
															<input type="checkbox">
															<span class="slider round"></span>
														</label>
													</div>
													<div class="set">
														<div class="details">
															<h5>My Friends Are Nice</h5>
															<p>If enabled scans direct messages from everyone unless they are listed as your friend.</p>
														</div>
														<label class="switch">
															<input type="checkbox" checked="">
															<span class="slider round"></span>
														</label>
													</div>

												</div>
											</div>
										</div>
										<!-- End of Privacy & Safety -->
										<!-- Start of Logout -->
										<div class="category">
											<a href="sign-in.html" class="title collapsed">
												<i class="material-icons md-30 online">power_settings_new</i>
												<div class="data">
													<h5>Power Off</h5>
													<p>Log out of your account</p>
												</div>
												<i class="material-icons">keyboard_arrow_right</i>
											</a>
										</div>
										<!-- End of Logout -->
									</div>
								</div>
							</div>
							<!-- End of Settings -->
						</div>
					</div>
				</div>
			</div>

			<!-- add new contacts//edit contact-->
			<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="requests">
						<div class="title">
							<h1>Add your friends</h1>
							<button type="button" class="btn" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
						</div>
						<div class="content">
							<form>
								<div class="form-group">
									<label for="user">Username:</label>
									<input type="text" class="form-control" id="user" placeholder="Add recipient..." required="">
									<div class="user" id="contact">
										<img class="avatar-sm" src="../../dist/img/avatars/avatar-female-5.jpg" alt="avatar">
										<h5>Keith Morris</h5>
										<button class="btn"><i class="material-icons">close</i></button>
									</div>
								</div>
								<div class="form-group">
									<label for="welcome">Message:</label>
									<textarea class="text-control" id="welcome" placeholder="Send your welcome message...">Hi Keith, I'd like to add you as a contact.</textarea>
								</div>
								<button type="submit" class="btn button w-100">Send Friend Request</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- end add new contact//edit contact-->
			<div class="modal fade" id="deleteconfirm" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="requests">
						<div class="title">
							<h1>Are you sure you want to delete this contact ?</h1>
							<button type="button" class="btn" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
						</div>
						<div class="content">
								<button type="submit" class="btn button w-100 btn-danger">Yes</button>
						</div>
					</div>
				</div>
			</div>
			
			
			
			
			
			
		</div> <!-- Layout -->
	</main>
	<!-- Bootstrap/Swipe core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="../../dist/js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="../../dist/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="../../dist/js/vendor/jquery-slim.min.js"></script>
	<script src="../../dist/js/vendor/popper.min.js"></script>
	<script src="../../dist/js/swipe.min.js"></script>
	<script src="../../dist/js/bootstrap.min.js"></script>
	<script>
		function scrollToBottom(el) { el.scrollTop = el.scrollHeight; }
		scrollToBottom(document.getElementById('content'));
	</script>


</body></html>