<!DOCTYPE html>
<html lang="en">

<html lang="en"><head>
	<meta charset="utf-8">
	<title>Call</title>
	<meta name="description" content="#">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap core CSS -->
	<link href="../dist/css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
	<!-- Swipe core CSS -->
	<link href="../dist/css/swipe.min.css" type="text/css" rel="stylesheet">
	<!-- Favicon -->
	<link href="../dist/img/favicon.png" type="image/png" rel="icon">
<style>    @media (max-width: 991px){
	.callmod{
padding-bottom: 0px;
	}
}
	
</style>

</head>
<body class="callmod">
	<main>
		<div class="layout">
			<div class="main">
				<div class="tab-content" id="nav-tabContent">
					<!-- Start of Babble -->
					<div class="babble tab-pane fade active show" id="list-chat" role="tabpanel" aria-labelledby="list-chat-list">
						<!-- Start of Call -->
						<div class="call" id="call1" style="display: block;">
							<div class="content">
								<div class="container">
									<div class="col-md-12">
										<div class="inside">
											<div class="panel">
												<div class="participant">
													<img class="avatar-xxl" src="../dist/img/avatars/editali1.jpg" alt="avatar">
													<span>Connecting</span>
												</div>							
												<div class="options">
													<button class="btn option"><i class="material-icons md-30">mic</i></button>
													<button class="btn option"><i class="material-icons md-30">videocam</i></button>
													<button class="btn option call-end"><i class="material-icons md-30">call_end</i></button>
													<button class="btn option"><i class="material-icons md-30">person_add</i></button>
													<button class="btn option"><i class="material-icons md-30">volume_up</i></button>
												</div>
												<button class="btn back" name="1"><i class="material-icons md-24">chat</i></button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div> 
	</main>
	
	
	<script src="../dist/js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="../dist/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="../dist/js/vendor/jquery-slim.min.js"></script>
	<script src="../dist/js/vendor/popper.min.js"></script>
	<script src="../dist/js/swipe.min.js"></script>
	<script src="../dist/js/bootstrap.min.js"></script>
	<script>
		function scrollToBottom(el) { el.scrollTop = el.scrollHeight; }
		scrollToBottom(document.getElementById('content'));
	</script>


</body></html>