<!DOCTYPE html>
<html lang="en"><head>
	<meta charset="utf-8">
	<title>Chat</title>
	<meta name="description" content="#">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap core CSS -->
	<link href="../../../dist/css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
	<!-- Swipe core CSS -->
	<link href="../../../dist/css/swipe.min.css" type="text/css" rel="stylesheet">
	<!-- Favicon -->
	<link href="../../../dist/img/favicon.png" type="image/png" rel="icon">
<style>
    @media (max-width: 991px){
.chatmod {
    padding-bottom: 0px;
}
    }
</style></head>


<body class="chatmod">
	<main>
		<div class="layout">

			<div class="main">
				<div class="tab-content" id="nav-tabContent">
					
					<div class="babble tab-pane fade active show" id="list-chat" role="tabpanel" aria-labelledby="list-chat-list">
						
						<div class="chat" id="chat1">
							<div class="top">
								<div class="container">
									<div class="col-md-12">
										<div class="inside">
											<a href="#"><img class="avatar-md" src="../../../dist/img/avatars/avatar-female-5.jpg" data-toggle="tooltip" data-placement="top" title="" alt="avatar" data-original-title="Keith"></a>
											<div class="status">
												<i class="material-icons online">fiber_manual_record</i>
											</div>
											<div class="data">
												<h5><a href="#">Keith Morris</a></h5>
												<span>Active now</span>
											</div>
											<button class="btn connect d-md-block d-none" name="1"><i class="material-icons md-30">close</i></button>
											
											
											<div class="dropdown">
												<button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons md-30">more_vert</i></button>
												<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-194px, 30px, 0px);">
													<button class="dropdown-item connect" name="1"><i class="material-icons">phone_in_talk</i>Voice Call</button>
													
													<hr>
													<button class="dropdown-item"><i class="material-icons">clear</i>Clear History</button>
													<button class="dropdown-item"><i class="material-icons">block</i>Block Contact</button>
													<button class="dropdown-item"><i class="material-icons">delete</i>Delete Contact</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="content" id="content">
								<div class="container">
									<div class="col-md-12">
										
										
										
										
										<div class="message me">
											<div class="text-main">
												<div class="text-group me">
													<div class="text me">
														<p>Roger that boss!</p>
													</div>
												</div>
												<div class="text-group me">
													<div class="text me">
														<p>I have already started gathering some stuff for the mood boards, excited to start!</p>
													</div>
												</div>
												<span>10:21 PM</span>
											</div>
										</div>
										<div class="message">
											<img class="avatar-md" src="../../../dist/img/avatars/avatar-female-5.jpg" data-toggle="tooltip" data-placement="top" title="" alt="avatar" data-original-title="Keith">
											<div class="text-main">
												<div class="text-group">
													<div class="text">
														<p>Great start guys, I've added some notes to the task. We may need to make some adjustments to the last couple of items - but no biggie!</p>
													</div>
												</div>
												<span>11:07 PM</span>
											</div>
										</div>
										
										
										
										
										
									</div>
								</div>
							</div>
							<div class="container">
								<div class="col-md-12">
									<div class="bottom">
										<form class="position-relative w-100">
											<textarea class="form-control" placeholder="Start typing for reply..." rows="1"></textarea>
											
											<button type="submit" class="btn send"><i class="material-icons">send</i></button>
										</form>
										 
									</div>
								</div>
							</div>
						</div>
						
						
						
						
					</div>
					
					
					
					
					
					
					
				</div>
			</div>
		</div> 
	</main>
	
	
	<script src="../../../dist/js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="../../../dist/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="../../../dist/js/vendor/jquery-slim.min.js"></script><script src="../../../dist/js/vendor/jquery-slim.min.js"></script><script src="../../../dist/js/vendor/jquery-slim.min.js"></script>
	<script src="../../../dist/js/vendor/popper.min.js"></script>
	<script src="../../../dist/js/swipe.min.js"></script>
	<script src="../../../dist/js/bootstrap.min.js"></script>
	<script>
		function scrollToBottom(el) { el.scrollTop = el.scrollHeight; }
		scrollToBottom(document.getElementById('content'));
	</script>


</body></html>